.todoEditForm {
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
  margin-bottom: 0.9rem;
  margin-top: -1.6rem;
}


@media screen and (max-width: 768px) {
  .todoEditForm {
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 0.2rem;
    margin-top: -1.1rem;
  }
}